<div>

    <div class="md-whiteframe-1dp">
        <md-toolbar>
            <h1 class="md-toolbar-tools">
                Create New Hot Spot Bucket
            </h1>
        </md-toolbar>
        <md-content class="md-padding" layout="column">

            <form name="vm.hotSpotBucketForm" ng-submit="vm.saveHotSpotBucket()" novalidate>
                <md-input-container class="md-block">
                    <label for="hotSpotBucketName">Hot Spot Bucket Name</label>
                    <input ng-model="vm.hotSpotBucketName" id="hotSpotBucketName" name="hotSpotBucketName" type="text" required>
                    <div ng-messages="vm.hotSpotBucketForm.hotSpotBucketName.$error" ng-if="vm.hotSpotBucketForm.hotSpotBucketName.$error.required && vm.hotSpotBucketForm.$submitted">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div>
                    <md-button type="submit" class="md-raised md-accent">Create</md-button>
                </div>
            </form>
        </md-content>

    </div>

    <br />

    <div class="md-whiteframe-1dp" cg-busy="vm.getHotSpotsPromise">
        <md-toolbar>
            <h1 class="md-toolbar-tools">
                Hot Spot Buckets
            </h1>
        </md-toolbar>
        <md-content class="md-padding">

            <div ng-repeat="hotSpotBucket in vm.hotSpotBuckets">
                <h2 class="md-title hot-spot-bucket-title">{{hotSpotBucket.name}} <ng-md-icon size="18" class="edit-button" ng-click="vm.editHotSpotBucket(hotSpotBucket)" icon="mode_edit"></ng-md-icon></h2>
                <md-chips ng-model="hotSpotBucket.hotSpots"
                          md-on-add="vm.handleHotSpotAdd(hotSpotBucket)"
                          md-on-remove="vm.handleHotSpotDelete(hotSpotBucket)">
                </md-chips>
                <br/>
            </div>
        </md-content>
    </div>


</div>