<div>

    <md-content class="md-padding" layout="column">
        <div ng-repeat="hotSpotBucket in vm.hotSpotBuckets">
            <h2 class="md-title">{{hotSpotBucket.name}}</h2>
            <md-chips ng-model="hotSpotBucket.hotSpots"
                      md-on-add="vm.handleHotSpotAdd(hotSpotBucket)"
                      md-on-remove="vm.handleHotSpotDelete(hotSpotBucket)">
            </md-chips>
            <md-button ng-click="vm.handleHotSpotAdd(hotSpotBucket)">Temp Save Button For Now</md-button>
            <br/>
        </div>

        <form name="vm.hotSpotBucketForm" ng-submit="vm.saveHotSpotBucket()">
            <md-input-container flex>
                <label for="hotSpotBucketName">Hot Spot Bucket</label>
                <input ng-model="vm.hotSpotBucketName" id="hotSpotBucketName" name="hotSpotBucketName" type="text" required>
            </md-input-container>

            <div>
                <md-button class="md-raised md-accent">Save</md-button>
            </div>

        </form>

    </md-content>


</div>