<div class="login-container md-whiteframe-z3">
    <md-toolbar class="demo-toolbar md-primary md-default-theme">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Login to Extreme Results</h3>
        </div>
    </md-toolbar>
    <form name="vm.loginForm" ng-submit="vm.login()">
        <md-input-container>
            <label for="loginUsernameField">Username</label>
            <input id="loginUsernameField" required name="username" ng-model="vm.username">
        </md-input-container>

        <md-input-container>
            <label for="loginPasswordField">Password</label>
            <input id="loginPasswordField" type="password" required name="password" ng-model="vm.password">
        </md-input-container>

        <md-button type="button" ng-disabled="vm.isLoggingIn" ng-click="vm.register()" class="md-primary">
            Register
        </md-button>

        <md-button ng-disabled="vm.isLoggingIn" id="loginButton" class="md-primary">
            Login
        </md-button>
    </form>
</div>
