<div class="login-container md-whiteframe-z3">
    <md-toolbar class="demo-toolbar md-primary md-default-theme">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Login to Extreme Results</h3>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <form name="$ctrl.loginForm" ng-submit="$ctrl.login()" novalidate>
            <md-input-container class="md-block">
                <label for="loginUsernameField">Username</label>
                <input id="loginUsernameField" autocapitalize="none" required name="username" ng-model="$ctrl.username">
                <div ng-messages="$ctrl.loginForm.username.$error" ng-if="$ctrl.loginForm.username.$error.required && $ctrl.loginForm.$submitted">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="loginPasswordField">Password</label>
                <input id="loginPasswordField" type="password" required name="password" ng-model="$ctrl.password">
                <div ng-messages="$ctrl.loginForm.password.$error" ng-if="$ctrl.loginForm.password.$error.required && $ctrl.loginForm.$submitted">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-button type="submit" ng-disabled="$ctrl.isLoggingIn" id="loginButton" class="md-raised md-accent pull-right">
                Login
            </md-button>
        </form>
    </md-content>
    <md-content class="form-equality-padding">
        <md-divider></md-divider>

        <md-button type="button" ng-disabled="$ctrl.isLoggingIn" class="pull-left">
            Forgot you password?
        </md-button>

        <md-button type="button" ng-disabled="$ctrl.isLoggingIn" ng-click="$ctrl.register()" class="pull-right">
            Register
        </md-button>
    </md-content>

</div>