<md-content class="md-whiteframe-1dp">
    <md-toolbar>
        <h1 class="md-toolbar-tools">
            Current Outcomes
        </h1>
    </md-toolbar>

    <md-card ng-repeat="activeEntry in vm.activeEntries">
        <overview-entry entry-obj="activeEntry"></overview-entry>
    </md-card>
</md-content>

<br />

<md-content class="md-whiteframe-1dp">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 class="md-toolbar-tools">
                All Entries
            </h1>
            <span flex></span>
            <ng-md-icon size="30" ng-if="!vm.allEntriesLoaded" ng-click="vm.getAllEntries()" class="fake-button load-button" icon="cloud_download"></ng-md-icon>
        </div>
    </md-toolbar>

    <md-card ng-repeat="entry in vm.overviewEntries">
        <overview-entry entry-obj="entry"></overview-entry>
    </md-card>
</md-content>