nav {
    width: 200px;
}

header {
    height: 80px;
}

.pull-right {
    float: right;
}

.flex-container-column {
    display: flex;
    flex-flow: column;
}

.flex-container-row {
    display: flex;
    flex-flow: row;
}

.flex-wrap-content {
    flex-wrap: wrap;
}

.flex-column {
    flex: 1;
}

.overview-entry {
    margin: 5px;
    border: 1px solid #333;
    overflow: hidden;
    display: inline-block;
}

.md-toolbar-tools {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.layout-content {
    max-width: 846px;
}

