nav {
    width: 100%;
}

header {
    height: 80px;
}

.pull-right {
    float: right;
}

.flex-container-column {
    display: flex;
    flex-flow: column;
}

.flex-container-row {
    display: flex;
    flex-flow: row;
}

.flex-wrap-content {
    flex-wrap: wrap;
}

.flex-column {
    flex: 1;
}

.overview-entry {
    margin: 5px;
    border: 1px solid #333;
    overflow: hidden;
    display: inline-block;
}

.md-toolbar-tools {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.layout-content {
    max-width: 846px;
}

.menu-link {
    width: 100%;
}

.md-menu-button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    min-height: 48px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: left;
}

.login-container {
    width: 600px;
    border-radius: 4px;
    margin-bottom: 16px;
    -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    padding-bottom: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

