<h3>{{::vm.header}}</h3>

<form name="vm.createOutcomeForm" novalidate>
    <div>
        <label for="outcome1">Outcome 1</label>
        <input ng-model="vm.outcome1" id="outcome1" name="outcome1" type="text" required>
        <form-validation-messages input="vm.createOutcomeForm.outcome1"></form-validation-messages>
    </div>

    <div>
        <label for="outcome2">Outcome 2</label>
        <input ng-model="vm.outcome2" id="outcome2" name="outcome2" type="text" required>
        <form-validation-messages input="vm.createOutcomeForm.outcome2"></form-validation-messages>
    </div>

    <div>
        <label for="outcome3">Outcome 3</label>
        <input ng-model="vm.outcome3" id="outcome3" name="outcome3" type="text" required>
        <form-validation-messages input="vm.createOutcomeForm.outcome3"></form-validation-messages>
    </div>

    <div>
        <button type="button" ng-click="vm.save()">Save</button>
    </div>

</form>