
<div class="md-whiteframe-1dp">
    <md-toolbar>
        <h1 class="md-toolbar-tools">
            Reflections
        </h1>
    </md-toolbar>

    <md-content class="md-padding">
        <md-menu>
            <md-button type="submit" class="md-raised md-accent" ng-click="$mdOpenMenu()">Create New Reflection</md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.createReflection('Weekly')">
                        Weekly Reflection
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.createReflection('Monthly')">
                        Monthly Reflection
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-content>

    <md-content ng-if="$ctrl.showCreateReflection" class="md-padding">
        <div>
            <xr-create-reflection type="$ctrl.reflectionType"></xr-create-reflection>
        </div>
    </md-content>


</div>


