<nav>
    <md-list class="md-default-theme">
        <md-list-item class="md-1-line">
            <md-button ng-click="$ctrl.goToState('app.overview')" class="md-menu-button md-primary">
                Overview
            </md-button>
        </md-list-item>
        <md-list-item class="md-1-line">
            <md-button ng-click="$ctrl.goToState('app.outcomes')" class="md-menu-button md-primary">
                Outcomes
            </md-button>
        </md-list-item>
        <md-list-item class="md-1-line">
            <md-button ng-click="$ctrl.goToState('app.reflections')" class="md-menu-button md-primary">
                Reflections
            </md-button>
        </md-list-item>
        <md-list-item class="md-1-line">
            <md-button ng-click="$ctrl.goToState('app.hot-spots')" class="md-menu-button md-primary">
                Hot Spots
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button ng-click="$ctrl.goToState('app.settings')" class="md-menu-button md-primary">
                Settings
            </md-button>
        </md-list-item>
    </md-list>
</nav>