<div class="register-container md-whiteframe-z3">
    <md-toolbar class="demo-toolbar md-primary md-default-theme">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Register on Extreme Results</h3>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <form name="$ctrl.registerForm" ng-submit="$ctrl.register()" novalidate>
            <md-input-container class="md-block">
                <label for="registerUsernameField">Username</label>
                <input id="registerUsernameField" autocapitalize="none" required name="username" ng-model="$ctrl.username">
                <div ng-messages="$ctrl.registerForm.username.$error" ng-if="$ctrl.registerForm.username.$error.required && $ctrl.registerForm.$submitted">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="registerPasswordField">Password</label>
                <input id="registerPasswordField" type="password" required name="password" ng-model="$ctrl.password">
                <div ng-messages="$ctrl.registerForm.password.$error" ng-if="$ctrl.registerForm.password.$error.required && $ctrl.registerForm.$submitted">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-button type="submit" ng-disabled="$ctrl.isRegistering" id="registerButton" class="md-raised md-accent pull-right">
                Register
            </md-button>
        </form>
    </md-content>
    <md-content class="form-equality-padding">
        <md-divider></md-divider>

        <md-button ng-click="$ctrl.backToLogin()" type="button" ng-disabled="$ctrl.isRegistering" class="pull-right">
            Back to login
        </md-button>
    </md-content>

</div>
